@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* Color styles */
:root {
  --bleu: #1D274A;
  --blanc-fonce: #F1F1F1;
  --blanc: #FFFFFF;
  --rouge: #B21D0A;
  --gris: #808080;
  --noir: #000000;
}


body {
    background-color: #ffffff ;
  }

h1 {
  font-family: Montserrat;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.075rem;
}

p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

  .nav_bg,
  .footer_bg {
    background-color: #1D274A;
    width: 100vw;
    margin: 0;
    position: fixed;
    left: 0;
    z-index: 1000;
  }
  
  .nav_bg {
    top: 0;
  }
  
  .footer_bg {
    bottom: 0;
    padding-top: 20px;
  }
  
  /* Navigation Items */
  .nav_item {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  
  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 66px;
  }
  
  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer-col {
    flex: 1;
    padding: 0 15px;
  }
  
  .footer-col:not(:last-child) {
    margin-right: 40px;
  }
  
  .footer-text,
  .footer-link {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: white;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .footer-link {
    display: flex;
    gap: 30px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #ddd;
  }
  
  .footer-link a {
    color: white;
    font-size: 18px;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  